<!DOCTYPE html>
<html>

<meta charset="utf-8" />
<meta http-equiv="Content-Language" content="{{ .Site.Language.Lang }}" />
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />
<meta name="application-name" content="{{ .Site.Title }}" />

<base href="{{ .Site.BaseURL }}">

<title>{{ .Site.Title }}</title>

<!-- TODO: Implement Google Analytics Integration -->

<!-- TODO: Implement Open Graph Meta Tags -->
<meta property="og:type" content="website">

<!-- TODO: Implement Twitter Meta Tags -->

<!-- CSS Stylesheets  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.8.0/css/reveal.min.css"
    integrity="sha256-OxiHrn+gXudPDHxTvXiQzeFjZU/FllSSPmOOYAZ1O/g=" crossorigin="anonymous" />

{{ with .Site.Params.revealTheme }}
<link rel="stylesheet" href="css/reveal-js/{{ . }}.css" />
{{ else }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.8.0/css/theme/white.min.css"
    integrity="sha256-yrL16TdyPisf02WLfBiRl4ST24aYQM/lYN1vhrhc0O8=" crossorigin="anonymous" />
{{ end }}

<body>

    <div id="particles-js" style="position: absolute; height: 100vh; width: 100vw;"></div>

    {{- block "main" . }}{{- end }}

    <!-- JS Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.8.0/js/reveal.min.js"
        integrity="sha256-pv4AarTAzSO6lz+bbMPwmV29XMjkzmFOn601b2pWqXE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.js"
        integrity="sha256-icjghcPaibMf1jv4gQIGi5MeWNHem2SispcorCiCfSg=" crossorigin="anonymous"></script>

    <!-- Initialize Reveal -->
    <script>

        var revealConfig = {

            // The "normal" size of the presentation, aspect ratio will be preserved
            // when the presentation is scaled to fit different resolutions. Can be
            // specified using percentage units.
            width: 720,
            height: 680,

            // Display presentation control arrows
            controls: true,

            // Help the user learn the controls by providing hints, for example by
            // bouncing the down arrow when they first encounter a vertical slide
            controlsTutorial: true,

            // Determines where controls appear, "edges" or "bottom-right"
            controlsLayout: 'edges',

            // Display a presentation progress bar
            progress: true,

            // Display the page number of the current slide
            slideNumber: true,

            // Add the current slide number to the URL hash so that reloading the
            // page/copying the URL will return you to the same slide
            hash: true,

            // Push each slide change to the browser history. Implies `hash: true`
            history: false,

            // Enable keyboard shortcuts for navigation
            keyboard: true,

            // Enable the slide overview mode
            overview: true,

            // Vertical centering of slides
            center: true,

            // Enables touch navigation on devices with touch input
            touch: true,

            // Flags if we should show a help overlay when the questionmark
            // key is pressed
            help: true,

            // Number of milliseconds between automatically proceeding to the
            // next slide, disabled when set to 0, this value can be overwritten
            // by using a data-autoslide attribute on your slides
            autoSlide: 4000,

            // Stop auto-sliding after user input
            autoSlideStoppable: true,

            // Transition style
            transition: 'slide', // none/fade/slide/convex/concave/zoom

            // Parallax background image
            parallaxBackgroundImage: '',

            // Parallax background size
            parallaxBackgroundSize: '', // CSS syntax, e.g. "2100px 900px" - currently only pixels are supported (don't use % or auto)

            // Number of pixels to move the parallax background per slide
            // - Calculated automatically unless specified
            // - Set to 0 to disable movement along an axis
            parallaxBackgroundHorizontal: 200,
            parallaxBackgroundVertical: 50,

            dependencies: [
                // Syntax highlight for <code> elements
                { src: 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.8.0/plugin/highlight/highlight.js', async: true },

                // Zoom in and out with Alt+click
                { src: 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.8.0/plugin/zoom-js/zoom.min.js', async: true }
            ]
        };

        Reveal.initialize(revealConfig);

        /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
        particlesJS.load('particles-js', 'assets/particles.json', function () {
            console.log('callback - particles.js config loaded');
        });      
    </script>


</body>

</html>