<!DOCTYPE html>
<html>

<meta charset="utf-8" />
<meta http-equiv="Content-Language" content="{{ .Site.Language.Lang }}" />
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />
<meta name="application-name" content="{{ .Site.Title }}" />

<base href="{{ .Site.BaseURL }}">

<title>{{ .Site.Title }}</title>

<!-- Google Analytics Integration -->

{{ template "_internal/google_analytics_async.html" . }}

{{ template "_internal/google_analytics_async.html" . }}

<!-- TODO: Implement Open Graph Meta Tags -->
<meta property="og:type" content="website">

<!-- TODO: Implement Twitter Meta Tags -->

<!-- CSS Stylesheets  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.8.0/css/reveal.min.css"
    integrity="sha256-OxiHrn+gXudPDHxTvXiQzeFjZU/FllSSPmOOYAZ1O/g=" crossorigin="anonymous" />

{{ with .Site.Params.revealTheme }}
<link rel="stylesheet" href="css/reveal-js/theme/{{ . }}.css" />
{{ else }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.8.0/css/theme/white.min.css"
    integrity="sha256-yrL16TdyPisf02WLfBiRl4ST24aYQM/lYN1vhrhc0O8=" crossorigin="anonymous" />
{{ end }}

<!-- PDF Exporting Support-->
<script>
    var link = document.createElement('link');
    link.rel = 'stylesheet';
    link.type = 'text/css';
    link.href = window.location.search.match(/print-pdf/gi) ? 'css/reveal-js/print/pdf.css' : 'css/reveal-js/print/paper.css';
    document.getElementsByTagName('head')[0].appendChild(link);
</script>

<body>

    <div id="particles-js" style="position: absolute; height: 100vh; width: 100vw;"></div>

    {{- block "main" . }}{{- end }}

    <!-- JS Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.8.0/js/reveal.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.js"></script>

    <!-- Initialize Reveal -->
    <script>

        var revealConfig = {

            // The "normal" size of the presentation, aspect ratio will be preserved
            // when the presentation is scaled to fit different resolutions. Can be
            // specified using percentage units.
            width: 720,
            height: 680,

            // Display presentation control arrows
            controls: true,

            // Help the user learn the controls by providing hints, for example by
            // bouncing the down arrow when they first encounter a vertical slide
            controlsTutorial: true,

            // Determines where controls appear, "edges" or "bottom-right"
            controlsLayout: 'bottom-right',

            // Display a presentation progress bar
            progress: true,

            // Display the page number of the current slide
            slideNumber: true,

            // Add the current slide number to the URL hash so that reloading the
            // page/copying the URL will return you to the same slide
            hash: true,

            // Push each slide change to the browser history. Implies `hash: true`
            history: false,

            // Enable keyboard shortcuts for navigation
            keyboard: true,

            // Enable the slide overview mode
            overview: true,

            // Vertical centering of slides
            center: true,

            // Enables touch navigation on devices with touch input
            touch: true,

            // Flags if we should show a help overlay when the questionmark
            // key is pressed
            help: true,

            // Number of milliseconds between automatically proceeding to the
            // next slide, disabled when set to 0, this value can be overwritten
            // by using a data-autoslide attribute on your slides
            autoSlide: 6000,

            // Stop auto-sliding after user input
            autoSlideStoppable: true,

            // Transition style
            transition: 'slide', // none/fade/slide/convex/concave/zoom

            // Parallax background image
            parallaxBackgroundImage: '',

            // Parallax background size
            parallaxBackgroundSize: '', // CSS syntax, e.g. "2100px 900px" - currently only pixels are supported (don't use % or auto)

            // Number of pixels to move the parallax background per slide
            // - Calculated automatically unless specified
            // - Set to 0 to disable movement along an axis
            parallaxBackgroundHorizontal: 200,
            parallaxBackgroundVertical: 50,

            // The maximum number of pages a single slide can expand onto when printing
            // to PDF, unlimited by default
            pdfMaxPagesPerSlide: Number.POSITIVE_INFINITY,

            // Prints each fragment on a separate slide
            pdfSeparateFragments: true,

            // Offset used to reduce the height of content within exported PDF pages.
            // This exists to account for environment differences based on how you
            // print to PDF. CLI printing options, like phantomjs and wkpdf, can end
            // on precisely the total height of the document whereas in-browser
            // printing has to end one pixel before.
            pdfPageHeightOffset: -1,

            dependencies: [

                // Syntax highlight for <code> elements
                { src: 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.8.0/plugin/highlight/highlight.min.js', async: true },

                // Zoom in and out with Alt+click
                { src: 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.8.0/plugin/zoom-js/zoom.min.js', async: true }
            ]
        };

        // quick disable autoslide
        revealConfig.autoSlide = 0;

        if(window.location.search.match(/print-pdf/gi)) {
            console.log("isPrintingPDF() is: true. Disabling url hashing.");
            revealConfig.hash = false;
            revealConfig.autoSlide = 0;
        }

        Reveal.initialize(revealConfig);

        Reveal.addEventListener( 'ready', function( event ) {
            console.log('callback - reveal.js is ready');
        } );

        /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
        particlesJS.load('particles-js', 'assets/particles.json', function () {
            console.log('callback - particles.js is loaded');
        });      
    </script>


</body>

</html>